* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* background: linear-gradient(90deg, rgb(76, 76, 119), rgb(89, 125, 89),rgb(119, 73, 119)); */
}
.body1 {
  height: auto;
  background: linear-gradient(120deg, blue, green);

  font-family: "Recursive", sans-serif;
}
.heading {
  display: flex;
  justify-content: center;
  color: beige;
}
.container {
  position: absolute;
  
  box-shadow: 0px 15px 15px rgb(227, 184, 184);
  background-color: rgb(67, 125, 175);
  border-radius: 20px;
  top: 15%;
  left: 33%;
  right: 33%;
  padding: 30px 10px 0px 30px;

}
.todoitems {
  margin-top: 7px;
  position: relative;
  width: 90%;
  
  border: 2px solid rgb(129, 184, 135);
  border-radius: 20px;
  box-shadow: 3px 16px 20px rgb(118, 248, 248);
  padding: 20px 10px;
}
.inputtype {
  position: relative;
  top: 5px;
  font-size: 15px;
  height: 60%;
  width: 88%;
  padding: 10px 10px;
  border-radius: 15px;
  font-weight: 500;
  font-size: 15px;
}
.addbtn {
  position: relative;
  float: right;
  right: 7px;
  top: 8px;
  cursor: pointer;
}

.inputtype:hover {
  border: 2px solid rgb(232, 232, 142);
  background-color: #c1c2c8;
}
.taskfield {
  min-width: 300px;
  
  width: 100%;
  word-wrap: break-word;
  
  list-style: none;
}
.edit {
  cursor: pointer;
  padding: 2px 2px;
}
.deletebutton {
  cursor: pointer;
}
.addedlist {
  display: flex;
  align-items: center;
  background-color: bisque;
  height: 100%;
  width: 90%;
  margin-top: 45px;
  padding: 10px;
  border-radius: 25px;
  box-shadow: 3px 16px 20px rgb(118, 248, 248);
}
.clearbtndiv{
  position: relative;
  left: 40%;
  margin-top: 5px ;
  padding:5px ;
  cursor: pointer;

}